# Quartus build files
db/
incremental_db/
output_files/
*.sof
*.pof
*.qws
*.smsg
*.rpt
*.qpf
*.qsf

# ModelSim / simulation files
simulations/waveforms.do
simulations/results.vcd
simulations/logs.txt

# Temporary files
*.bak
*.tmp
*.log
*.txt~

# Operating system files
.DS_Store
Thumbs.db
